#---- Start Bones (bare) ----#
APP_KEY=SECURE_APP_KEY
APP_DEBUG=true
# Valid environments: dev, staging, qa, prod
APP_ENVIRONMENT=dev
APP_TIMEZONE=UTC
# Optional path to deployment backups
APP_BACKUP_PATH=
#---- End Bones (bare) ----#